.theme-switcher{
    @include flex-center;

    &__switcher{
        visibility: hidden;
    }

    &__wrapper{
        box-shadow: var(--inner-box-shadow);
        border: 1px solid var(--card-border-color);
        padding: 8px;
        width: 70px;
        height: 35px;
        border-radius: 15px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: start;
        cursor: pointer;
    }

    &__circle{
        @include flex-center;
        width: 18px;
        height: 18px;
        background-color: transparent;
        border-radius: 50%;
    }

    .fa-moon{
        display: none;
        color: var(--color-dark);
    }

    @keyframes toggleOn {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(40px);
        }
    }

    @keyframes toggleOf {
        0%{
            transform: translateX(40px);
        }
        100%{
            transform: translateX(0);
        }
    }
}