:root{
    // цвета
    --color-dark: linear-gradient(to right, #283048, #2B2D35);
    --light-color: #ececec;
    --operator-color: #ff6868;
    --card-border-color: #ffffff4d;
    --box-shadow-color: #14141480;

    // рамки
    --border: 1px solid var(--color-border-gray);
    --border-primary: 1px solid var(--color-primary);

    // радиус рамок
    --card-border-radius: 16px;
    --input-border-radius: 12px;
    --btn-border-radius: 50%;

    // шрифты
    --font-main: monospace, sans-serif;

    // тени
    --inner-box-shadow: inset 5px 5px 10px var(--box-shadow-color);

    // отступы внутри кнопок
    --btn-padding: 15px;

    // высоты элементов
    --input-height: 100px;

    // длительность переходов
    --transition-duration: .2s;

    // длительность анимаций
    --animation-duration: .3s;
}